/*=====
Root 
=======*/

:root {
	--pale-green: #8FBC8F ; /* (204, 213, 174) */
	--light-yellow: #e9edc9; /* (233, 237, 201) */
	--cream: #fefae0;       /* (254, 250, 224) */
	--light-brown: #faedcd;   /* (250, 237, 205) */
	--earthy-brown: #d4a373;  /* (212, 163, 115) */
  }

  /* Matcha Coffee Gradient */
.matcha-coffee-gradient {
	background: linear-gradient(to right, #b3cba7, #e7edde, #f9f8f1, #f1edd9, #d0b8a8);
	/*
	  #b3cba7: Light Matcha Green
	  #e7edde: Very Light Creamy Green
	  #f9f8f1: Off-White / Cream
	  #f1edd9: Light Tan / Beige (Coffee with Milk)
	  #d0b8a8: Light Brown (Coffee)
	*/
  }

  #mu-video:after,
  #mu-hero:after {
	background-color:  #e7edde; /* Fallback */
	background: -webkit-linear-gradient(to right, var(--pale-green), var(--light-yellow)); /* WebKit */
	background-image: var(--matcha-coffee-gradient); /* Standard */
  }

a:hover,
a:focus,
.mu-book-now-btn,
.mu-copy-right a:hover,
.mu-copy-right a:focus,
.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus,


.mu-logo:focus,
.mu-client-quote,
.mu-clients-slider .slick-prev, 
.mu-clients-slider .slick-next,
.mu-clients-slider .slick-prev::before, 
.mu-clients-slider .slick-next::before,
.my-why-us-single-icon {
	color: var(--pale-green);
}

.mu-logo{
	color: var(--light-brown);
}

.mu-logo:hover{
	color: var(--light-yellow);
}

.scrollToTop,
.mu-testimonial-slide .slick-dots li.slick-active,
#mu-callto-action {
	background-color: var(--pale-green);
}

.mu-social-media a:hover,
.mu-social-media a:focus {
	border: 1px solid var(--pale-green);
	color: var(--pale-green);
}

.mu-contact-form .form-control:focus,
.products-single-info .mu-book-now-btn {
	border: 1px solid var(--pale-green);    
} 

.mu-send-msg-btn,
.mu-send-msg-btn:focus,
.mu-register-btn:hover,
.mu-register-btn:focus {
	border: 1px solid var(--pale-green);
	background-color: var(--pale-green);
}

.mu-clients-slider .slick-prev, 
.mu-clients-slider .slick-next {
	border: 2px solid var(--pale-green);
}








